th {
    text-align: center;
}
.no_number{
    text-align: center;
}
*[data-href] {
    cursor: pointer;
}
.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-justify:auto;
         */
    word-wrap: break-word;

}
.text{
    font-size: 20px;;
}

.h3{
    font-weight:bold;
}
.center {
    margin: auto;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  
  }

